{% for empleado in empleados %}
<form method="POST" action="/update" enctype="multipart/form-data">
    ID:
    <input type="text" value="{{empleado[0]}}" name="txtID" id="txtID">
    <br>
    <br>
    Nombre:
    <input type="text" value="{{empleado[1]}}" name="txtNombre" id="txtNombre">
    <br>
    <br>
    Correo:
    <input type="text" value="{{empleado[2]}}" name="txtCorreo" id="txtCorreo">
    <br>
    <br>
    Foto:
    <input type="file" name="txtFoto" id="txtFoto">
    <br>
    <br>
    <input type="submit" value="Editar">
    
</form>

{% endfor %}